<div class="summary">
  <h2>Subdivision Surface Modifier dans Blender</h2>

  <div class="jc-ac">
    <img class="ytb" src="assets/logos/ytb.png" alt="" />
    <a
      href="https://www.youtube.com/watch?v=tBpnKTAc5Eo&list=PLjEaoINr3zgEPv5y--4MKpciLaoQYZB1Z&index=2&ab_channel=BlenderGuru"
    >
      Source de 04:30 à 09:00
    </a>
  </div>

  <p>
    Le Subdivision Surface Modifier dans Blender est un outil puissant qui
    permet de lisser et de détailler les surfaces des objets en subdivisant
    leurs faces. Cela crée de nouveaux polygones plus petits et plus nombreux,
    ce qui donne une apparence plus douce et plus organique aux objets.
  </p>

  <p>Voici comment y accéder et l'utiliser :</p>
  <ul>
    <li>
      <strong>Sélection de l'Objet :</strong> Sélectionnez l'objet auquel vous
      souhaitez appliquer le modificateur.
    </li>
    <li>
      <strong>Accéder au Modificateur :</strong> Allez dans le panneau des
      propriétés de l'objet (Object Properties) situé dans la barre latérale
      droite. Cliquez sur l'onglet "Modifier" (Modifier Properties).
    </li>
    <li>
      <strong>Ajouter le Modificateur :</strong> Cliquez sur le bouton "Add
      Modifier" (Ajouter un Modificateur) et choisissez "Subdivision Surface"
      dans le menu déroulant.
    </li>
    <li>
      <strong>Ajuster les Paramètres :</strong> Réglez les niveaux de
      subdivision pour le viewport et le rendu. Ajustez les autres paramètres
      selon vos besoins spécifiques.
    </li>
  </ul>

  <img
    src="assets/surface-de-subdivision/surface-de-subdivision.png"
    alt="surface de subdivision"
  />
</div>
