<div class="summary">
  <h2>Édition Proportionnelle dans Blender</h2>
  <div class="jc-ac">
    <img class="ytb" src="assets/logos/ytb.png" alt="YouTube Logo" />
    <a
      href="https://www.youtube.com/watch?v=tBpnKTAc5Eo&t=549s&ab_channel=BlenderGuru"
    >
      Source de 11:44 à 13:36
    </a>
  </div>
  <p>
    L'édition proportionnelle dans Blender permet d'appliquer des
    transformations de manière fluide et graduelle sur une sélection, en
    influençant les vertices, arêtes et faces avoisinantes. Cela est
    particulièrement utile pour créer des déformations organiques et des
    transitions douces sur des objets complexes.
  </p>
  <p>Voici comment utiliser l'édition proportionnelle :</p>
  <ul>
    <li>
      <strong>Activation de l'Édition Proportionnelle :</strong> Appuyez sur la
      touche <kbd>O</kbd> pour activer ou désactiver l'édition proportionnelle
      en mode Edit.
    </li>
    <li>
      <strong>Sélection de l'Objet :</strong> Sélectionnez l'objet que vous
      souhaitez modifier.
    </li>
    <li>
      <strong>Accès au Edit Mode :</strong> Appuyez sur la touche
      <kbd>Tab</kbd> pour basculer entre Object Mode et Edit Mode.
    </li>
    <li>
      <strong>Utilisation :</strong> Utilisez les raccourcis clavier comme
      <kbd>G</kbd> (déplacer), <kbd>R</kbd> (rotation) et <kbd>S</kbd> (mise à
      l'échelle) pour manipuler les vertices, arêtes et faces.
    </li>
  </ul>

  <h3>Différence entre l'Édition Proportionnelle et Non Proportionnelle</h3>
  <p>Lorsque vous utilisez le raccourci <kbd>Ctrl</kbd> + <kbd>G</kbd> :</p>
  <ul>
    <li>
      <strong>Sans Édition Proportionnelle :</strong> Les transformations
      affectent uniquement les éléments sélectionnés, sans influencer les
      vertices, arêtes et faces avoisinantes.
    </li>
    <li>
      <strong>Avec Édition Proportionnelle :</strong> Les transformations
      appliquées sur les éléments sélectionnés influencent également les
      éléments avoisinants selon un rayon de proportionnalité défini, visible
      par un cercle d'influence. Cela permet des transitions plus douces et des
      déformations plus naturelles.
    </li>
  </ul>

  <p>Pour activer l'edition proportionnelle :</p>
  <img
    src="assets\edit\proportional-editing\proportional-editing-active.png"
    alt=""
  />
  <p>Avec l'edition proportionnelle :</p>
  <img
    src="assets\edit\proportional-editing\proportional-editing1.png"
    alt=""
  />
  <p>Sans :</p>
  <img
    src="assets\edit\proportional-editing\proportional-editing2.png"
    alt=""
  />
</div>
