<div class="summary">
  <h2>La fenêtre en bas à gauche dans Blender</h2>

  <div class="jc-ac">
    <img class="ytb" src="assets/logos/ytb.png" alt="" />
    <a
      href="https://www.youtube.com/watch?v=tBpnKTAc5Eo&list=PLjEaoINr3zgEPv5y--4MKpciLaoQYZB1Z&index=2&ab_channel=BlenderGuru"
    >
      Source de 00:00 à 03:41
    </a>
  </div>

  <p>
    La fenêtre en bas à gauche dans Blender, qui s'affiche lorsque vous ajoutez
    un nouvel objet et qui permet de modifier ses propriétés, s'appelle la
    "Barre d'outils de l'ajout d'objet" ou "Add Object Toolbar" en anglais.
  </p>
  <p>
    Cette barre d'outils apparaît généralement après avoir ajouté un nouvel
    objet en utilisant la combinaison de touches <strong>Shift + A</strong> ou
    en cliquant sur "Add" dans le menu principal. Elle vous permet de choisir
    différentes options spécifiques à l'objet que vous êtes en train d'ajouter,
    telles que les dimensions, les paramètres de subdivision, et d'autres
    propriétés spécifiques à l'objet en question.
  </p>

  <img src="assets/object-toolbar/object-toolbar.png" alt="" />
</div>
