<div class="summary">
  <h2>Ombrage Lissé dans Blender</h2>
  <p>
    L'ombrage lissé (Smooth Shading) dans Blender est une fonctionnalité qui
    rend les surfaces des objets plus douces et moins angulaires en interpolant
    les normales le long des arêtes partagées entre les polygones. Cela crée une
    transition douce entre les faces, améliorant l'apparence visuelle des
    modèles 3D pour des rendus plus réalistes et esthétiques.
  </p>
  <p>
    Cette technique est essentielle pour la modélisation, l'animation et le
    rendu de haute qualité, notamment en architecture, en jeux vidéo et en
    animation.
  </p>
  <p>
    Pour faire cela, il suffit de faire clique droit sur l'objet, puis cliquer
    sur "Ombrage lissé".
  </p>
  <p>Il permet de passer de ça :</p>
  <img src="assets/shade-smooth/shade-smooth1.png" alt="Avant Ombrage Lissé" />
  <p>à ça :</p>
  <img src="assets/shade-smooth/shade-smooth2.png" alt="Après Ombrage Lissé" />
</div>
