<div class="solidify-summary">
    <h2>Solidify Modifier dans Blender</h2>
    <div class="video-link">
        <img class="ytb" src="assets/logos/ytb.png" alt="YouTube Logo">
        <a href="https://www.youtube.com/watch?v=AqJx5TJyhes&ab_channel=BlenderGuru">
            Source de 05:06 à 06:30 </a>
    </div>
    <p>
        Le <strong>Solidify Modifier</strong> est un outil dans Blender qui permet de donner de l'épaisseur à des
        surfaces ou des objets 3D. Cet outil est particulièrement utile pour transformer des surfaces bidimensionnelles
        (2D) en objets tridimensionnels (3D) avec une épaisseur définie.
    </p>
    <p>Voici comment utiliser le Solidify Modifier :</p>
    <ul>
        <li><strong>Sélection de l'Objet :</strong> Sélectionnez l'objet auquel vous souhaitez ajouter de l'épaisseur.
        </li>
        <li><strong>Ajout du Modifier :</strong> Allez dans le panneau des modifiers et ajoutez le Solidify Modifier.
        </li>
        <li><strong>Ajustement de l'Épaisseur :</strong> Réglez le paramètre "Thickness" pour définir l'épaisseur
            souhaitée.</li>
        <li><strong>Autres Paramètres :</strong> Utilisez les paramètres comme "Offset", "Even Thickness", et "High
            Quality Normals" pour affiner l'effet.</li>
        <li><strong>Application du Modifier :</strong> Une fois satisfait, appliquez le modifier pour rendre l'épaisseur
            permanente.</li>
    </ul>
    <img src="assets\modifiers\solidify\solidify.png" alt="">
</div>