<div class="summary">
  <h2>Rayons X dans Blender</h2>
  <div class="jc-ac">
    <img class="ytb" src="assets/logos/ytb.png" alt="YouTube Logo" />
    <a
      href="https://www.youtube.com/watch?v=AqJx5TJyhes&ab_channel=BlenderGuru"
    >
      Source de 02:26 à 05:05
    </a>
  </div>
  <p>
    La fonctionnalité des Rayons X dans Blender permet aux utilisateurs de voir
    et de sélectionner les géométries internes d'un objet en rendant les objets
    semi-transparents. Cela facilite le travail sur des structures complexes en
    permettant une meilleure visualisation et manipulation des vertices, arêtes,
    et faces situés à l'intérieur d'un modèle 3D.
  </p>
  <h3>Comment Activer les Rayons X :</h3>
  <ul>
    <li>
      <strong>Sélection de l'Objet :</strong> Sélectionnez l'objet sur lequel
      vous souhaitez activer les Rayons X.
    </li>
    <li>
      <strong>Accès au Mode Objet :</strong> Assurez-vous d'être en Object Mode
      en appuyant sur la touche <kbd>Tab</kbd> si nécessaire.
    </li>
    <li>
      <strong>Activation des Rayons X :</strong> Dans la barre d'outils en haut
      de l'écran, cliquez sur l'icône de Rayons X (représentée par une double
      flèche croisée) ou appuyez sur <kbd>Alt</kbd> + <kbd>Z</kbd> pour activer
      ou désactiver les Rayons X.
    </li>
    <li>
      <strong>Réglage de l'Opacité :</strong> Une fois les Rayons X activés,
      vous pouvez ajuster l'opacité dans le panneau des propriétés pour obtenir
      la transparence désirée.
    </li>
  </ul>
  <h3>Avantages des Rayons X :</h3>
  <p>
    L'utilisation des Rayons X offre plusieurs avantages pour la modélisation 3D
    :
  </p>
  <ul>
    <li>
      <strong>Sélection Facile :</strong> Sélectionnez facilement les éléments
      internes sans avoir à masquer ou à découper l'objet.
    </li>
    <li>
      <strong>Visualisation Améliorée :</strong> Obtenez une meilleure vue
      d'ensemble des structures internes complexes.
    </li>
    <li>
      <strong>Manipulation Précise :</strong> Manipulez avec précision les
      vertices, arêtes, et faces internes sans interférence des géométries
      extérieures.
    </li>
  </ul>
  <img src="assets\edit\x-rays\x-rays.png" alt="Rayons X dans Blender" />
</div>
