<div class="summary">
  <h2>Edit Mode dans Blender</h2>
  <div class="jc-ac">
    <img class="ytb" src="assets/logos/ytb.png" alt="YouTube Logo" />
    <a
      href="https://www.youtube.com/watch?v=tBpnKTAc5Eo&t=549s&ab_channel=BlenderGuru"
    >
      Source de 09:00 à 11:48
    </a>
  </div>
  <p>
    Le Edit Mode dans Blender permet aux utilisateurs de modifier la géométrie
    des objets 3D en travaillant directement sur leurs vertices, arêtes et
    faces.
  </p>
  <p>Voici comment utiliser le Edit Mode :</p>
  <ul>
    <li>
      <strong>Sélection de l'Objet :</strong> Sélectionnez l'objet que vous
      souhaitez modifier.
    </li>
    <li>
      <strong>Accès au Edit Mode :</strong> Appuyez sur la touche
      <kbd>Tab</kbd> pour basculer entre Object Mode et Edit Mode.
    </li>
    <li>
      <strong>Modification de la Géométrie :</strong> Sélectionnez et manipulez
      les vertices, arêtes et faces avec les raccourcis clavier comme
      <kbd>G</kbd> (déplacer), <kbd>R</kbd> (rotation), <kbd>S</kbd> (mise à
      l'échelle) et <kbd>E</kbd> (extrusion).
    </li>
    <li>
      <strong>Sélection de Surfaces :</strong> Utilisez <kbd>Ctrl</kbd> + clic
      pour sélectionner plusieurs surfaces à modifier.
    </li>
    <li>
      <strong>Navigation et Utilisation :</strong> Utilisez la souris pour
      zoomer et dézoomer, et utilisez <kbd>Shift</kbd> + clic droit pour
      déplacer la vue.
    </li>
  </ul>
  <img
    src="assets\edit\changing-form-object.png"
    alt="Edit Mode dans Blender"
  />
</div>
