<div class="summary">
  <h1>Utilisation de la Caméra dans Blender</h1>
  <div class="jc-ac">
    <img class="ytb" src="assets/logos/ytb.png" alt="" />
    <a
      href="https://www.youtube.com/watch?v=B0J27sf9N1Y&list=PLjEaoINr3zgEPv5y--4MKpciLaoQYZB1Z&ab_channel=BlenderGuru"
    >
      Source de 11:00 à 12:41
    </a>
  </div>
  <h2>1. Ajouter une Caméra</h2>
  <ul>
    <li>
      <strong>Menu Ajout (Shift + A)</strong>: Placez le curseur 3D à
      l'emplacement souhaité, puis utilisez <kbd>Shift</kbd> + <kbd>A</kbd> pour
      ouvrir le menu Ajout.
    </li>
    <li>
      <strong>Sélection de Caméra</strong>: Choisissez "Caméra" dans le menu
      Ajout pour créer une nouvelle caméra à l'emplacement du curseur 3D.
    </li>
  </ul>

  <h2>2. Sélection et Navigation</h2>
  <ul>
    <li>
      <strong>Sélection de la Caméra</strong>: Cliquez sur la caméra dans la vue
      3D pour la sélectionner.
    </li>
    <li>
      <strong>Mode Caméra (Numpad 0)</strong>: Passez en mode Caméra pour voir
      la scène à travers la caméra en appuyant sur <kbd>Numpad 0</kbd>.
    </li>
  </ul>

  <h2>3. Paramètres de la Caméra</h2>
  <ul>
    <li>
      <strong>Propriétés de la Caméra</strong>: Utilisez le panneau "Propriétés"
      (touche <kbd>N</kbd> dans la vue 3D) pour ajuster les paramètres de la
      caméra sélectionnée.
    </li>
    <li>
      <strong>Champ de Vue (FOV)</strong>: Modifiez l'angle du champ de vue pour
      ajuster la vue de la caméra. Ceci peut être fait dans le panneau des
      propriétés de la caméra sous l'onglet "Object Data".
    </li>
  </ul>

  <h2>4. Déplacer et Cibler</h2>
  <ul>
    <li>
      <strong>Déplacer la Caméra</strong>: Sélectionnez la caméra et utilisez
      <kbd>G</kbd> pour déplacer,
      <kbd>R</kbd>
      pour faire pivoter et <kbd>S</kbd> pour redimensionner comme avec d'autres
      objets.
    </li>
    <li>
      <strong>Cibler un Objet</strong>: Utilisez <kbd>Shift</kbd> +
      <kbd>Numpad 0</kbd> pour cibler la caméra sur un objet sélectionné.
    </li>
  </ul>

  <h2>5. Animation et Trajectoire</h2>
  <ul>
    <li>
      <strong>Animation de la Caméra</strong>: Utilisez le mode Animation pour
      animer le mouvement et les paramètres de la caméra.
    </li>
    <li>
      <strong>Trajectoire de la Caméra</strong>: Ajustez la trajectoire de la
      caméra en modifiant les courbes d'animation dans l'Éditeur de Courbes.
    </li>
  </ul>

  <h2>6. Rendu et Prévisualisation</h2>
  <ul>
    <li>
      <strong>Rendu de la Caméra</strong>: Configurez les paramètres de rendu
      dans le panneau de rendu pour obtenir l'image ou l'animation désirée à
      travers la caméra.
    </li>
    <li>
      <strong>Prévisualisation en Temps Réel</strong>: Utilisez le mode
      "Rendered" dans la vue 3D pour prévisualiser en temps réel ce que voit la
      caméra.
    </li>
  </ul>

  <h2>7. Éclairage et Composition</h2>
  <ul>
    <li>
      <strong>Éclairage de la Scène</strong>: Placez les lampes et ajustez leur
      intensité pour influencer l'éclairage de la scène vue par la caméra.
    </li>
    <li>
      <strong>Composition</strong>: Utilisez les principes de composition pour
      placer les objets et diriger le regard dans votre scène.
    </li>
  </ul>
</div>
