<div class="summary">
  <h2>Duplication d'un Objet dans Blender</h2>
  <div class="jc-ac">
    <img class="ytb" src="assets/logos/ytb.png" alt="YouTube Logo" />
    <a
      href="https://www.youtube.com/watch?v=AqJx5TJyhes&ab_channel=BlenderGuru"
    >
      Source de 00:00 à 01:54
    </a>
  </div>
  <p>
    La duplication d'un objet dans Blender permet de créer des copies exactes
    d'un objet, ce qui est particulièrement utile pour modéliser des scènes
    complexes ou réutiliser des éléments existants. Voici comment procéder à la
    duplication d'un objet dans Blender :
  </p>
  <p>Voici comment utiliser la duplication :</p>
  <ul>
    <li>
      <strong>Sélection de l'Objet :</strong> Sélectionnez l'objet que vous
      souhaitez dupliquer.
    </li>
    <li>
      <strong>Accès au Mode Objet :</strong> Assurez-vous d'être en Object Mode
      en appuyant sur la touche <kbd>Tab</kbd> si nécessaire.
    </li>
    <li>
      <strong>Raccourci Clavier :</strong> Appuyez sur <kbd>Shift</kbd> +
      <kbd>D</kbd> pour dupliquer l'objet. Une copie de l'objet sélectionné
      apparaîtra, attachée au curseur de la souris.
    </li>
    <li>
      <strong>Positionnement de la Duplication :</strong> Déplacez la copie à
      l'emplacement désiré et cliquez pour la placer. Vous pouvez également
      appuyer sur <kbd>Esc</kbd> pour annuler le déplacement et laisser la copie
      à l'emplacement d'origine.
    </li>
  </ul>
  <h3>Différence entre Duplication et Lien de Duplication</h3>
  <p>Blender propose deux types de duplication :</p>
  <ul>
    <li>
      <strong>Duplication Simple :</strong> <kbd>Shift</kbd> + <kbd>D</kbd> crée
      une copie indépendante de l'objet sélectionné. Toute modification apportée
      à l'objet original n'affectera pas la copie, et vice versa.
    </li>
    <li>
      <strong>Lien de Duplication :</strong> <kbd>Alt</kbd> + <kbd>D</kbd> crée
      une copie liée de l'objet. Toute modification apportée à la géométrie de
      l'objet original se reflétera sur toutes les copies liées, ce qui est
      utile pour des objets qui doivent rester synchronisés.
    </li>
  </ul>
</div>
